.scroll {
  background-color: var(--color-secondary);
  box-shadow: 0 0 1px var(--color-lightgrey);
}

.fa-star {
  color: var(--color-lightgrey);
}

.fa-star.active,
.fa-star-half-alt {
  color: var(--color-yellow);
}
