.select--dropdown {
}

.genres__list--dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: inherit;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
