/* Targets the full dorpdown box shown initially */

.select--dropdown {
  display: flex;
  align-items: center;
  border: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 200px;
}

/* targets the icon with the dropdown */

.select--dropdown .fas {
  padding: 5px;
  position: absolute;
  right: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* will show the selected item from dropdown */

.genres__list--dropdown {
  padding: var(--gutter-vertical);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.genres__list--dropdown:hover {
  color: var(--color-secondary);
}

.genres__list--dropdown .select__item {
  padding: 2rem;
  color: var(--color-black);
  background: var(--color-primary);
}

.genres__list--dropdown::-ms-expand {
  display: none;
}

.genres__list--dropdown option {
  background-color: var(--color-secondary);
}
